<div class="main-box">
  <div class="main-content">
    <h1 class="main-title">
      投稿メモ一覧
    </h1>
    <div class="memos">
      <div class="memo">
        <a href="#">メモ１</a>
      </div>
      <div class="memo">
        <a href="#">メモ2</a>
      </div>
      <div class="memo">
        <a href="#">メモ3</a>
      </div>
      <div class="memo">
        <a href="#">メモ4</a>
      </div>
    </div>
  </div>
</div>