<div class="side-box">
  <div class="side-header">
    <h2 class="side-title">
      グループ一覧
    </h2>
    <div class="create-group">
      <a href="#">グループを作成する</a>
    </div>
  </div>
  <%# ユーザーが所属しているグループ一覧を表示する %>
  <div class="groups">
    <div class=group>
      <div class=group-name>
        <a href="#">グループ１</a>
      </div>
    </div>

    <div class=group>
      <div class=group-name>
        <a href="#">グループ2</a>
      </div>
    </div>
  </div>
</div>